@import '../../styles/auth.css';

.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px 20px;
}

.register-container {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
}

.register-form-section {
  width: 700px;
}

.register-logo-section {
  margin-bottom: 40px;
  text-align: center;
}

.register-logo-section img {
  height: 200px;
  width: auto;
  object-fit: contain;
}

.register-logo-right {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-logo-right img {
  height: 350px;
  width: auto;
}

@media (max-width: 1024px) {
  .register-form-container {
    flex-direction: column;
    gap: 40px;
  }

  .register-logo-right {
    flex: 1;
    max-width: 300px;
  }
}